<template>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      :name="type"
      :value="item[0]"
      ref="dicheckbox"
      v-model="toggle"
      @click="$emit('click-check-box',{key:item[0],name:item[1],action:!toggle})"
    />
    <label class="form-check-label" for="dicheckbox">{{item[1]}}</label>
  </div>
</template>

<script>
export default {
  name: "DiCheckBox",
  props: {
    item: Array,
    type: String,
  },
  data() {
    return {
      toggle: false,
    };
  },
};
</script>