<template>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <p class="card-title">Card title</p>
      <span>one</span> vs
      <span>two</span>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>