<template>
  <div class="card" style="width: 18rem;">
    <div class="card-header">{{title}}</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <di-check-box
          v-for="(item,id) in dataset"
          :item="item"
          :key="id"
          :type="title"
          @click-check-box="updateCard"
        ></di-check-box>
      </li>
    </ul>
  </div>
</template>

<script>
import DiCheckBox from "../elements/DiCheckBox.vue";
export default {
  name: "InteractionCard",
  components: {
    DiCheckBox,
  },
  props: {
    title: String,
    dataset: Map,
  },
  methods: {
    updateCard(payload) {
      this.$emit("update-list", payload);
    },
  },
};
</script>

<style>
</style>