<template>
  <div class="card" style="width: 18rem;">
    <div class="card-header">{{title}}</div>
    <div class="card-body" style="min-height:120px;">
      <div v-if="ready">
        <div style="margin-left:100px;" v-if="loading">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div v-else>
          <h5 v-if="isInteraction">
            <span class="badge badge-warning">Potential interaction</span>
          </h5>
          <h5 v-else>
            <span class="badge badge-success">No Interaction Expected</span>
          </h5>
          <span class="badge badge-secondary">{{drug}}</span>
          <span class="badge badge-secondary ml-1">{{coMed}}</span>
          <p
            v-if="isInteraction"
            class="card-text mt-2"
            style="font-size:14px;"
          >Coadministration has not been studied. There's Potential interaction However, as dosing of recreational drugs can be variable, caution is advised..</p>
          <p
            v-else
            class="card-text mt-2"
            style="font-size:14px;"
          >Coadministration has not been studied but based on metabolism and clearance a clinically significant interaction is unlikely.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Results",
  components: {},
  props: {
    ready: Boolean,
    loading: Boolean,
    title: String,
    isInteraction: Boolean,
    drug: String,
    coMed: String,
    description: String,
  },
};
</script>

<style>
</style>