<template>
  <div id="app" style="margin-left: 200px;">
    <div class="container pt-5">
      <div class="row">
        <div class="col-md-3">
          <interaction-card title="HIV Drugs" :dataset="drugs" @update-list="updateDrugList"></interaction-card>
        </div>
        <div class="col-md-3 ml-2">
          <interaction-card
            title="Co-medications"
            :dataset="coMedications"
            @update-list="updateCoMedList"
          ></interaction-card>
        </div>
        <div class="col-md-3 ml-2">
          <result-card
            :ready="ready"
            :loading="loading"
            title="Drug Interactions"
            :isInteraction="isInteraction"
            :drug="selectedDrug.name"
            :coMed="selectedCoMed.name"
          ></result-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import InteractionCard from "./components/InteractionCard.vue";
import ResultCard from "./components/Results.vue";

export default {
  name: "App",
  components: {
    InteractionCard,
    ResultCard,
  },
  data() {
    return {
      drugs: new Map(),
      coMedications: new Map(),
      selectedDrug: {},
      selectedCoMed: {},

      isInteraction: true,
      loading: false,
      ready: false,
    };
  },
  mounted() {
    this.initDrugs();
    this.initCoMedications();
  },
  methods: {
    initDrugs() {
      var map = new Map();
      map.set(1, "Abacavir (ABC)");
      map.set(2, "Albuvirtide (ABT)");
      map.set(3, "Atazanavir alone (ATV)");
      map.set(4, "Atazanavir/cobicistat (ATV/c)");
      map.set(5, "Atazanavir + ritonavir (ATV/r)");
      map.set(6, "Cabotegravir [oral] (CAB oral)");
      this.drugs = map;
    },
    initCoMedications() {
      var map = new Map();
      map.set(1, "Acamprosate");
      map.set(2, "Acarbose");
      map.set(3, "Abacavir (ABC)");
      map.set(4, "Acenocoumarol");
      map.set(5, "Acetazolamide");
      map.set(6, "Aciclovir (Acyclovir)");
      this.coMedications = map;
    },
    updateDrugList(payload) {
      this.selectedDrug = payload;
      this.calculateResults();
    },
    updateCoMedList(payload) {
      this.selectedCoMed = payload;
      this.calculateResults();
    },
    calculateResults() {
      if (this.selectedDrug.key && this.selectedCoMed.key) {
        this.ready = true;
        this.loading = true;

        let interactions = new Map();
        interactions.set(1, [2]);
        interactions.set(2, [1]);
        interactions.set(3, [4]);
        interactions.set(4, [3]);
        interactions.set(5, [4]);
        interactions.set(6, [6]);

        setTimeout(() => {
          this.loading = false;
        }, 3000);

        this.isInteraction = interactions
          .get(this.selectedDrug.key)
          .includes(this.selectedCoMed.key);

        fetch("./ddi.bat").then(function (res) {
          console.log(res);
        });
      }
    },
  },
};
</script>
